html {
	font-size: 16px;
}

.bodyReplacement {
	font-family: sans-serif;
	width: 800px;
	margin: 0px auto;
/*	background-image: url("../images/background.jpg");*/
}

.sectionContent {
	padding: 10px;
}

h2 {
	background-color: rgba(139,129,125,.2);
	line-height: 64px;
	width: 800px;
	display: block;
	margin-top: 0px;
	padding-left: 20px;
}

.navbar img {
	float: left;
	margin-right: 0px;
}

.bump {
	height: 64px;
}

.navbar ul {
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
	display: block;
}

.navbar ul li {
	float: left;
	display: block;
	height: 69px;
	width: 128px;
	text-align: center;
	background-color: rgba(139,129,125,.2);
}

.navbar ul li a {
	text-decoration: none;
	height: 48px;
	width: 128px;
	display: block;
	vertical-align: text-bottom;
	padding-top: 20px;
	font-weight: bold;
	color: #000;
}

/*.navbar ul li a:hover {
	color: #483D4C;
	background-color: #f1f3f8;
}
Removed hover property
*/

#container {
/*	width: 800px;
	margin: 0px auto;*/
}

#header, .body {
	background-color: #f1f3f8;
}

#header {
	padding: 0px 20px 20px 20px;
	margin: 0px 0px 0px 0px;
}

.body {
	padding: 0px;
}

ul {
	list-style: none;
}

.profilepic {
	margin: 0px 20px 20px 20px;
}

.iconlist {
	margin: 0px;
	padding-left: 240px;
	width: 800px;
	float: left;
}

.contactbar {
/*	float: top;*/
	position: fixed;
	top: 0px;
	margin: 0px auto;
	padding: 0px;
	width: 800px;
}

.contacticonTop {
	height: 64px;
	width: 64px;
	float: left;
}

.contacticon {
	height: 64px;
	width: 64px;
	float: left;
}

.github {
	background-image: url("../images/github-64.png");
	background-color: #3782c8;
}

.facebook {
	background-image: url("../images/facebook-64.png");
	background-color: #3B5998;
}

.linkedin {
	background-image: url("../images/linkedin-64.png");
	background-color: #007FB1;
}

.twitter {
	background-image: url("../images/twitter-64.png");
	background-color: #00ACED;
}

.instagram {
	background-image: url("../images/instagram-64.png");
	background-color: #3F729B;
}

.google {
	background-image: url("../images/googleplus-64.png");
	background-color: #D14836;
}

.interesttile {
	height: 300px;
	width: 250px;
	float: left;
	background-color: #e0e0e0;
	padding: 5px;
	margin: 5px;
	text-align: center;
}

.interests {
	height: 350px;
	width: 780px;
    margin: 0 auto;
}

.instainterest {
	width: 220px;
}

.body li {
	margin: 4px;
}

.duration {
	float: right;
	margin: 0px;
	font-style: italic;
	font-weight: bold;
}

.interests {
	padding: auto;
}

#myname {
	padding: 0px;
	margin: 0px;
	font-size: 3em;
	font-family: 'Oleo Script Swash Caps', cursive;
}

@media only screen and (max-width: 768px) {
	.contacticon {
	height: 60px;
	width: 60px;
	float: left;
}
}

.footer {
	background-color: #4d4d4d;
	font-size: 1.1em;
	padding-top: 2em;
	padding-bottom: 6em;
	border-top: 2px #363636;
	border-style: solid;
}

.footerNav li {
	float: left;
	margin: 1em;
	text-align: center;
}

.footerNav li a {
	color: #d2d2d2;
}

/* Clear Fix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}